<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Coco onepage themeforest" />
    <meta name="description" content="Coco - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <Script src="https://s3.amazonaws.com/myadvobuck/static/libs/typed.min.js"></Script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js" integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ==" crossorigin="anonymous"></script>
    <!-- Title  --> 
      <title>Coco</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />

    <style>
        #particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
    /* background: rgba(0, 0, 0, 0.2);  */
   z-index: 1;
  
  background-repeat: no-repeat;
  background-size: cover;
 
}
    </style>

</head>

<body>

    <!-- =====================================
    	==== Start Navbar -->

        {{>navbar}}
             
        <!-- End Navbar ====
            ======================================= -->
    
  <!----------------Start Header -------------------------->
<section style="display: flex; flex-direction:column">
        <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="img/bg3.jpg" data-stellar-background-ratio="0.5">
         
            <!-- particles -->
          
            <div id="particles-js">
      
              </div>
    
            <div class="container">
                <div class="text-center caption mt-30">
                    <h4>We Are</h4>
                    <h1 class="cd-headline clip">
                        <span class="blc">Creative </span>
                        <span class="cd-words-wrapper">
                              <b >Agency</b>
                              <b>Company</b>
                              <b>Template</b>
                            </span>
                            <span id="typed"></span>
                           
                    </h1>
                    <Script> 
                        var type = new Typed('#typed',{
                            stringsElement:'.cd-words-wrapper',
                            typeSpeed:50,
                            backSpeed: 50,
                            loop: true,
                            contentType: 'html',
                            // call when done callback function
                            callback: function() {},
                            // starting callback function before each string
                            preStringTyped: function() {},
                            //callback for every typed string
                            onStringTyped: function() {},
                            // callback for reset
                            resetCallback: function() {}
                            

                        })

                    </Script>
                    <div class="row">
                        <div style="margin-top: 34px;  margin-bottom: 40px; margin-left:180px!important" class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                            <p>We are a passionate digital design agency that specializes in beautiful and easy-to-use digital design & web development services.</p>
                        </div>
                    </div>
                    <a href="#0" class="butn butn-light mt-30">
                            <span>Get Started</span>
                        </a>
                </div>
            </div>
    
           
        </header>

       
</section>

    </body>
     
    <script src="./js/bootstrap.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="js/app.js"></script>
    <Script src="https://s3.amazonaws.com/myadvobuck/static/libs/typed.min.js"></Script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
    
      
    

